# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/
next-env.d.ts

# Production
/build

# Environment
.env
.env.local
.env*.local

# Generated data (videos + temp)
/.data/videos/
/.data/temp/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
*.pem

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
.vercel
